<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

# Data Cleaning Exercise

In this exercise, you will be given a synthetic dataset that we have designed to be deliberately "messy". It has duplicates, missing values and mixed up types. Your task is to use the skills you learned in the `data_cleaning.ipynb` demonstration to try to clean up this data.  
  
If you get stuck at any point, then look back on that exercise notebook to remember how to analyse the data.  
  
**There are no wrong answers**. This notebook is not assessed in any way, and there is no one unique way to do data cleaning. This notebook is intended to help you practice data cleaning on some real world data.

In [37]:
# First, we import the libraries that we are going to use 

import numpy as np 
import pandas as pd

In [38]:
# this cell reads in our dataset

df = pd.read_csv("../course_content/medicine/session_2/dataset/synthetic_bad_patient_data.csv")

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

### Data Exploration 
  
The most important first step is to **explore** the data. We need to find out *what* is wrong with it.  
  
Try to answer the following questions:
- How many patients are there?
- What are the data types of each column?
- How many missing values are there in each column?
- Which columns should we just drop, because so many values are missing?

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

Hints: You may find these functions useful:
- `df.isna().sum()` will tell you how many NaN values are in each column
- `print(df.dtypes)` will tell you what data types each column is. Remember that an "object" is a column with mixed types and this is what we want to fix. 
  
You can use the next few Python cells to do this analysis

In [39]:
len(df)
# this line calculates the total number of rows in our dataset
# there are 500 patients

550

In [40]:
df.isna().sum()

# this line shows the number of Null (missing) values in each column.

patient_id            0
age                  25
gender               30
blood_pressure        0
cholesterol          55
height_cm           104
weight_kg           202
smoking_status       53
exercise_freq        95
alcohol_use          56
diagnosis_code        0
visit_count           0
last_visit          122
medication_count    102
insurance_type      140
glucose_level         0
bmi                  81
doctor_notes        120
random_column_1     226
random_column_2     384
dtype: int64

In [41]:
print(df.dtypes)

# this line showws the type of each column in the dataset. We want to avoid types that are "object"

patient_id            int64
age                 float64
gender               object
blood_pressure      float64
cholesterol         float64
height_cm           float64
weight_kg           float64
smoking_status       object
exercise_freq       float64
alcohol_use          object
diagnosis_code       object
visit_count           int64
last_visit           object
medication_count    float64
insurance_type       object
glucose_level       float64
bmi                 float64
doctor_notes         object
random_column_1      object
random_column_2      object
dtype: object

In [42]:
df.head()

# this shows the first 5 rows of the dataframe

,patient_id,age,gender,blood_pressure,cholesterol,height_cm,weight_kg,smoking_status,exercise_freq,alcohol_use,diagnosis_code,visit_count,last_visit,medication_count,insurance_type,glucose_level,bmi,doctor_notes,random_column_1,random_column_2
0,1377,30.0,Male,110.628157,180.0,NaN,80.0,never,1.0,high,D5,10,NaN,0.0,private,96.596998,32.0,Refer,NaN,NaN
1,1649,30.0,Other,107.742218,NaN,170.0,80.0,former,4.0,none,D3,2,2023-06-15,NaN,private,87.638960,28.0,Monitor,NaN,ok
2,1096,30.0,Female,119.324598,220.0,175.0,80.0,current,1.0,high,D2,5,unknown,0.0,private,97.295194,22.0,Refer,bad_data,NaN
3,1314,35.0,Female,145.216385,180.0,160.0,85.0,never,1.0,moderate,D3,15,unknown,0.0,NaN,71.612233,NaN,Refer,bad_data,NaN
4,1198,45.0,Male,121.106552,240.0,NaN,NaN,never,NaN,moderate,D5,7,2023-06-15,NaN,none,88.632031,30.0,Monitor,bad_data,NaN

In [43]:
df["gender"].value_counts()

# this line shows the number of cases of each type in the dataset

gender
Female    253
Male      246
Other      21
Name: count, dtype: int64

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

### 1) De-duplication. 
  
The first thing that is useful to do is drop any duplicates. Do you remember how to do this?  
  
Do it in the cell below:

In [44]:
df = df.drop_duplicates()
# drops duplicate rows

In [45]:
print(len(df))

# we dropped 50 rows! So there were duplicates!

500

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

### 2) Dropping any columns
  
Are there any columns that we should consider dropping? Why?   
  
Use the cells below to drop any columns you feel you need to:

In [46]:
# we should delete any column that has too many missing values to be sensible! 
# we are going to delete all columns with more than 100 missing values

In [47]:
df = df.drop(columns = "last_visit")
df = df.drop(columns = "random_column_1")
df = df.drop(columns = "random_column_2")
df = df.drop(columns = "insurance_type")
df = df.drop(columns = "doctor_notes")

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

### Cleaning Up Column Types
  
Make sure to convert the types of the columns so there are no "object" columns!

In [48]:
df.head()

,patient_id,age,gender,blood_pressure,cholesterol,height_cm,weight_kg,smoking_status,exercise_freq,alcohol_use,diagnosis_code,visit_count,medication_count,glucose_level,bmi
0,1377,30.0,Male,110.628157,180.0,NaN,80.0,never,1.0,high,D5,10,0.0,96.596998,32.0
1,1649,30.0,Other,107.742218,NaN,170.0,80.0,former,4.0,none,D3,2,NaN,87.638960,28.0
2,1096,30.0,Female,119.324598,220.0,175.0,80.0,current,1.0,high,D2,5,0.0,97.295194,22.0
3,1314,35.0,Female,145.216385,180.0,160.0,85.0,never,1.0,moderate,D3,15,0.0,71.612233,NaN
4,1198,45.0,Male,121.106552,240.0,NaN,NaN,never,NaN,moderate,D5,7,NaN,88.632031,30.0

In [49]:
df.dtypes

patient_id            int64
age                 float64
gender               object
blood_pressure      float64
cholesterol         float64
height_cm           float64
weight_kg           float64
smoking_status       object
exercise_freq       float64
alcohol_use          object
diagnosis_code       object
visit_count           int64
medication_count    float64
glucose_level       float64
bmi                 float64
dtype: object

In [50]:
df["gender"] = df["gender"].astype(str) # gender should be a "string" (text)
df["weight_kg"] = df["weight_kg"].astype(float) # weight should be a "float (number)
df["smoking_status"] = df["smoking_status"].astype(str)
df["alcohol_use"] = df["alcohol_use"].astype(str)
df["diagnosis_code"] = df["diagnosis_code"].astype(str)

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

### 3) Missing Value Imputation
  
Do you still have any missing values? How could you check?  
  
If you still have some, you could consider using "mean value imputation", "median value imputation" or some other variant of your choice. It is totally up to you! Make sure you document what you did and why: try to explain your choices

In [51]:
df.isna().sum()

patient_id            0
age                  20
gender                0
blood_pressure        0
cholesterol          52
height_cm            90
weight_kg           185
smoking_status        0
exercise_freq        88
alcohol_use           0
diagnosis_code        0
visit_count           0
medication_count     93
glucose_level         0
bmi                  73
dtype: int64

For values that are numbers, we will impute using "mean value imputation"

In [52]:
mean_age = df["age"].mean() # what is the mean age?
df["age"] = df["age"].fillna(mean_age) # fill in missing age values with mean age

# do the same for cholesterol 
mean_chol = df["cholesterol"].mean()
df["cholesterol"] = df["cholesterol"].fillna(mean_chol)

mean_height = df["height_cm"].mean()
df["height_cm"] = df["height_cm"].fillna(mean_height)

mean_weight = df["weight_kg"].mean()
df["weight_kg"] = df["weight_kg"].fillna(mean_weight)

mean_exercise = df["exercise_freq"].mean()
df["exercise_freq"] = df["exercise_freq"].fillna(mean_exercise)

mean_medication = df["medication_count"].mean()
df["medication_count"] = df["medication_count"].fillna(mean_medication)

In [56]:
# now that we have values for weight and height, we can just calculate the BMI

df["bmi"] = df["weight_kg"] / (df["height_cm"]/100)**2

# alternatively, we can use mean value imputation 

mean_bmi = df["bmi"].mean()
df["bmi"] = df["bmi"].fillna(mean_bmi)

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

### 4) Check your work! 
  
Now you have cleaned the data, you should check your work! Use a similar approach to what you did for 1) Data Exploration to check that you have dealt with the data. There should now be no missing values, all the columns should have a single type (no "object") and there should be no duplicated values.  
  
This dataset would now be ready for you to do some analysis on it!

In [53]:
df.dtypes

patient_id            int64
age                 float64
gender               object
blood_pressure      float64
cholesterol         float64
height_cm           float64
weight_kg           float64
smoking_status       object
exercise_freq       float64
alcohol_use          object
diagnosis_code       object
visit_count           int64
medication_count    float64
glucose_level       float64
bmi                 float64
dtype: object

In [54]:
df.isna().sum()

patient_id           0
age                  0
gender               0
blood_pressure       0
cholesterol          0
height_cm            0
weight_kg            0
smoking_status       0
exercise_freq        0
alcohol_use          0
diagnosis_code       0
visit_count          0
medication_count     0
glucose_level        0
bmi                 73
dtype: int64