# Python Exercises

This notebook is intended to give you a chance to practice the Python you learned in the `python_basics.ipynb` notebook!  
  
This is divided into cells that you can try out. If you get the correct answer to the puzzle, it will say "Correct" when you run the next cell

## 1) Importing Libraries

**Task**: Import the `numpy` library as `np`, the `pandas` library as `pd` and the `matplotlib.pyplot` library as `plt`

In [21]:
# write your code here

Try to use the `help()` function to produce the help information for a `array` in numpy

In [22]:
# write your code here

**Task**: Fix this next cell so that it no longer raises an error

In [23]:
# fix the error in this cell

include sklearn as skl

SyntaxError: invalid syntax (3679630725.py, line 3)

**Task**: The next cell should be formatted as a comment. Make the cell into a comment so that it no longer raises an error

In [ ]:
I am supposed to be a comment and I will not run until I am

## 2) Reading in data

**Task**: Use the pandas library to read in the "sample_patient_data.csv" file in the cell below. You should call your dataset `df`.

In [ ]:
# write your code here
df =

SyntaxError: invalid syntax (1291102520.py, line 2)

**Task**: Explore the data
Answer the following questions when you are done

In [ ]:
# you can write code for data exploration here

#### 1. How many patients do we have?

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

*Write your answer in this box*

#### 2. What are the features of our data?

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

*Write your answer in this box*

#### 3. What are the data types in our data?
Remember: each feature has a data type. It can be an integer (a whole number), a float (a decimal) or a string (text)

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

*Write your answer in this box*

## 3) Tasks to check understanding

Use pandas to answer the following questions:

#### 1. Find all female patients who are over the age of 50

In [ ]:
# write your code here

#### 2. Calculate the average medication adherence by diagnosis

In [ ]:
# write your code here

#### 3. Find patients with systolic BP between 120-140 mmHg

In [ ]:
# write your code here

#### 4. What is the average age of the patients?

In [ ]:
# write your code here

#### 5. Save the dataset to a file 
  
Hint: To save a dataset, we can use `df.to_csv()`. 
Use `help(df.to_csv())` for information about how to use this function

In [24]:
help(df.to_csv())

NameError: name 'df' is not defined