# Python Exercises

This notebook is intended to give you a chance to practice the Python you learned in the `python_basics.ipynb` notebook!  
  
This is divided into cells that you can try out. If you get the correct answer to the puzzle, it will say "Correct" when you run the next cell

## 1) Importing Libraries

**Task**: Import the `numpy` library as `np`, the `pandas` library as `pd` and the `matplotlib.pyplot` library as `plt`

In [1]:
# write your code here

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

Try to use the `help()` function to produce the help information for a `array` in numpy

In [2]:
# write your code here

help(np.array)

Help on built-in function array in module numpy:

array(...)
    array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0,
          like=None)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        ``__array__`` method returns an array, or any (nested) sequence.
        If object is a scalar, a 0-dimensional array containing object is
        returned.
    dtype : data-type, optional
        The desired data-type for the array. If not given, NumPy will try to use
        a default ``dtype`` that can represent the values (by applying promotion
        rules when necessary.)
    copy : bool, optional
        If ``True`` (default), then the array data is copied. If ``None``,
        a copy will only be made if ``__array__`` returns a copy, if obj is
        a nested sequence, or if a copy is needed to satisfy any of the other
        requirements (``dtype``, ``order``, etc.). Note that any copy of
        the data is shallow, i.e., for arrays with object dtype, the new
        array will point to the same objects. See Examples for `ndarray.copy`.
        For ``False`` it raises a ``ValueError`` if a copy cannot be avoided.
        Default: ``True``.
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=None`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for 'A', see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be prepended to the shape as
        needed to meet this requirement.
    like : array_like, optional
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty_like : Return an empty array with shape and type of input.
    ones_like : Return an array of ones with shape and type of input.
    zeros_like : Return an array of zeros with shape and type of input.
    full_like : Return a new array with shape of input filled with value.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.
    copy: Return an array copy of the given object.


    Notes
    -----
    When order is 'A' and ``object`` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> import numpy as np
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3])

    Creating an array from sub-classes:

    >>> np.array(np.asmatrix('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.asmatrix('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

**Task**: Fix this next cell so that it no longer raises an error

In [4]:
# fix the error in this cell

import sklearn as skl

**Task**: The next cell should be formatted as a comment. Make the cell into a comment so that it no longer raises an error

In [6]:
# I am supposed to be a comment and I will not run until I am

## 2) Reading in data

**Task**: Use the pandas library to read in the "sample_patient_data.csv" file in the cell below. You should call your dataset `df`.

In [7]:
# write your code here
df = pd.read_csv("sample_patient_data.csv")

**Task**: Explore the data
Answer the following questions when you are done

In [8]:
# you can write code for data exploration here
df.head()

,patient_id,age,gender,diagnosis,systolic_bp,hba1c,medication_adherence
0,P001,45,M,Hypertension,140,5.2,0.85
1,P002,62,F,Diabetes,130,8.1,0.72
2,P003,38,F,Asthma,110,5.0,0.95
3,P004,71,M,Diabetes,145,9.2,0.68
4,P005,29,F,Hypertension,125,4.8,0.90

In [10]:
df.describe()

             age  systolic_bp     hba1c  medication_adherence
count   8.000000     8.000000  8.000000               8.00000
mean   51.250000   132.250000  6.337500               0.81875
std    15.097303    15.229201  1.736941               0.09433
min    29.000000   110.000000  4.800000               0.68000
25%    41.000000   122.500000  5.075000               0.74250
50%    50.000000   134.000000  5.350000               0.83500
75%    63.500000   141.250000  7.875000               0.88500
max    71.000000   155.000000  9.200000               0.95000

In [11]:
df.dtypes

patient_id               object
age                       int64
gender                   object
diagnosis                object
systolic_bp               int64
hba1c                   float64
medication_adherence    float64
dtype: object

In [13]:
df.shape

(8, 7)

In [14]:
df.columns

Index(['patient_id', 'age', 'gender', 'diagnosis', 'systolic_bp', 'hba1c',
       'medication_adherence'],
      dtype='object')

#### 1. How many patients do we have?

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

*Write your answer in this box*

8

#### 2. What are the features of our data?

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

*Write your answer in this box*
7:

#### 3. What are the data types in our data?
Remember: each feature has a data type. It can be an integer (a whole number), a float (a decimal) or a string (text)

<div style="border: 2px solid #ddd; background-color: #f9f9f9; padding: 15px; margin: 10px 0; border-radius: 8px; color: #333;">

*Write your answer in this box*

## 3) Tasks to check understanding

Use pandas to answer the following questions:

#### 1. Find all female patients who are over the age of 50

In [16]:
# write your code here 
df[(df["age"] > 50) & (df["gender"] == "F")]

  patient_id  age gender diagnosis  systolic_bp  hba1c  medication_adherence
1       P002   62      F  Diabetes          130    8.1                  0.72
6       P007   68      F    Asthma          115    5.1                  0.88

#### 2. Calculate the average medication adherence by diagnosis

In [17]:
# write your code here
df["diagnosis"].value_counts()

diagnosis
Hypertension    3
Diabetes        3
Asthma          2
Name: count, dtype: int64

In [21]:
df.loc[df["diagnosis"] == "Hypertension", "medication_adherence"].mean()

np.float64(0.8566666666666666)

#### 3. Find patients with systolic BP between 120-140 mmHg

In [22]:
# write your code here

df[(df["systolic_bp"] > 120) & (df["systolic_bp"] < 140)]

,patient_id,age,gender,diagnosis,systolic_bp,hba1c,medication_adherence
1,P002,62,F,Diabetes,130,8.1,0.72
4,P005,29,F,Hypertension,125,4.8,0.90
7,P008,42,M,Hypertension,138,5.5,0.82

In [23]:
df[120 < df["systolic_bp"] < 140]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

#### 4. What is the average age of the patients?

In [26]:
# write your code here

df["age"].median()

50.0

#### 5. Save the dataset to a file 
  
Hint: To save a dataset, we can use `df.to_csv()`. 
Use `help(df.to_csv())` for information about how to use this function

In [29]:
df.to_csv("saved_file.csv")